# Python
*.egg-info/
__pycache__/

# Testing
.cache
.coverage
geckodriver.log
htmlcov/
.pytest_cache/
tests/acceptance/screenshots/
.tox/
venv/

# Flask
static/

# Frozen-Flask
build/

# Bower
bower_components/
